article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

* {
    text-decoration-line: none;
    /* border: 1px solid red; */
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}

html {
    font-size:62.5%;
}

/* Ensure image default styles in main section is fixed */
img {
    max-width: 100%;
    height: auto;
    /* display: block; */
}

/* wrapper styles */
.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

/* clearfix */
.clearfix:after {visibility: hidden; display: block; font-size: 0; content:''; clear: both; height: 0; }

/* Headings Font*/
section a,
h2,
h3,
h4,
input[type=submit],
.footer-nav a{
    font-family: 'Offside', cursive;
}

h2{
    font-size: 4.2rem;
    margin: 0;
}

/* buttons */
section a{
    font-size: 2rem;
    line-height: 29px;
    text-align: center;
}

/* paragraph */
p{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.2px;
}

/* white font */
header,
a,
footer,
.blog,
aside i,
input[type=submit]{
    color: white;
}

/* Hide Social and Image in Blog Section */
.hide i,
.hide,
.hide a{
    display: none;
}

/* HEADER */

/* gets rid of empty white space in header image, and list styles */
header{
    font-size: 0;
}

header img{
    size: contain;
}

header nav{
    position: absolute;
    top: 0;
    width: 81.5%;
    left: 10%;
}

label[for="toggle"],
input[type="checkbox"]{
    display: none;
}

/* Logo */

header h3{
    margin: 0;
    padding-top: 15px;
}

.logo{
    float: left;
    font-size: 2rem;
    line-height: 20px;
    position: relative;
    left: 3%;
}

/* Nav Bar */
.main-nav{
float: right;
margin-top: 20px;
}

.main-nav li{
    display: inline-block;
}

nav a{
    font-weight: 600;
    font-size: 2rem;
    line-height: 29px;
    padding: 20px;
    text-align: right;
}

.main-nav li:hover,
.main-nav li:focus{
    border-bottom: 2px solid white;
}

/* Main Title */
h1{
    position: absolute;
    top: 7vh;
    font-size: 6.88rem;
    line-height: 63.7px;
    letter-spacing: 0.8px;
    width: 43%;
    text-shadow: 2px 2px 4px #000000;
}

/* Social */
aside{
    position: fixed;
    top: 10rem;
    right: 50px;
}

aside i{
    padding: 10px 0;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #000000;
}

/* Nudge facebook icon */
.fa-facebook-f{
    position: relative;
    left: 4px;
}

/* MAIN */

header,
main,
section,
footer{
    overflow: hidden;
}

/* GALLERY */

.gallery{
    text-align: center;
}

.gallery img {
    width: calc(93.5%/3);
}

.gallery h2 {
    margin: 8rem 0;
}

/* ABOUT */
.about,
.involvement{
    background-color: #D6F1E4;
}

.about h2 {
    color: #116500;
}

/* Middle Picture in Gallery */
.middle{
    margin:0 3%;
}

/* ABOUT PARK */

img.about-park{
    float: left;
    margin-right: 4%;
}

/* Button */
.about a{
    padding: 10px 20px;
    background: #116500;
    transition: 0.4s;
    border: 1px solid #116500;
}

.about a:hover,
.about a:focus{
    background:white;
    color: #116500;
}

/* Text Box */
.about-park.text h2{
 text-align: left;
 margin: 0;
}

.about-park.text p{
    margin-bottom: 3%;
    padding:0;
}

.about-park.wrapper{
    margin: 8% auto;
}

/* BLOG */
.blog,
footer.connect{
    background-color: #213C28;
}

.grid{
    width: 50%;
    float: left;
}

/* Button */
.blog a{
    background: white;
    padding: 10px 20px;
    color: #116500;
    transition: 0.4s;
    border: 1px solid white;
}

.blog a:hover,
.blog a:focus{
    background: #116500;
    color: white;
}

/* Text Box */
.blog .text{
    padding-top: 8%;
}

.blog .text p{
    padding: 20px 0;
    margin-top: 0;
}

.bobby-bella.text{
    padding-left: 9%;
    padding-right: 6%;
}

.marco.text{
    padding-left: 6%;
    padding-right: 9%;
}
/* INVOLVEMENT */

.involvement .container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.involvement a{
    padding: 10px 0;
    font-size: 2.5rem;
    line-height: 29px;
    float: left;
    width: calc(100%/3);
    margin-top: 70px;
    margin-bottom: 40px;
    color: #116500;
}

.involvement a:hover h3,
.involvement a:focus h3{
    font-weight: bold;
}

i{
    font-size: 4rem;
    color: #2C2D2C;
}

.involvement a:hover i,
.involvement a:focus i{
    color: #116500;
}

/* FOOTER */

.container{
    margin: 5% 0;
}

h4{
    font-size: 2.5rem;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-top: 25px;
}

.container p{
    line-height: 1;
    margin: 0;
    padding-bottom: 15px;
}

.subscribe{
    width: 58%;
}

.contact{
width: 28%;
}

.footer-nav{
    width: 14%;
    text-align: right;
    text-transform: lowercase;
    font-size: 2.2rem;
}

.footer-nav ul{
    margin-top: 2.92667rem;
}

.footer-nav a{
    display: inline-block;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-bottom: 8px;
}

.footer-nav a:hover,
.footer-nav a:focus{
    text-decoration: underline;
}

footer li{
    display: block;
}

footer .container{
    float: left;
}

input[type=text]{
    width: 60%;
    padding: 15px 20px;
}

input[type=submit]{
    width: 25%;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: 0.4s;
}

input[type=submit]:hover,
input[type=submit]:focus{
    background: rgba(0, 0, 0, 0.75);
}

input{
    font-size: 2rem;
}

.copyright,
input[type=submit]{
    text-align: center;
    background-color: #2C2D2C;
    border: none;
}

@media (max-width:1220px){

/* HEADER */
    
    h1{
        width: 38%;
    }

    aside{
        right: 25px;
    }

    /* MAIN SECTION */
    h2{
        font-size: 3rem;
    }

    p{
        font-size: 1.8rem;
        line-height: 2.75rem;
    }

    section a{
        font-size: 1.75rem;
    }

    .grid.text{
        padding-top: 4%;
    }

    .bobby-bella.text{
        padding-right: 5%;
    }

    .marco.text{
        padding-left: 5%;
    }

    /* FOOTER */
    input[type=text]{
        width: 55%;
        padding: 10px 20px;
    }

    input[type=submit]{
        width: 25%;
        padding: 15px 5px;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .contact{
        width: 35%;
    }

    .subscribe{
        width: 51%;
    } 

    .wrapper {
        width: 85%;
    }
}
/* Portrait Tablet and Small Desktop */
@media (max-width:995px){

    /* wrapper styles */
    .wrapper {
        width: 90%;
    }

    /* HEADER */

    h1{
        font-size: 6rem;
        line-height: 6rem;
    }

    /* social */
    aside{
        position: absolute;
    }

    /* GALLERY */

    .gallery img{
        width: 30%;
    }

    /* ABOUT */
    .about-park img{
        display: none;
    }


    /* BLOG */
    
   .blog .hide{
        float: left;
        display: block;
    }

    .blog{
        padding: 50px 0;
    }

    .grid.text{
        width: 65%;
        padding: 2%;
        margin: 3% 0;
        position: relative;
    }

    img.bobby-bella.grid{
        display: none;
    }

    .blog img{
        width: 35%;
        margin: 3% 0;
    }

    .blog .text p{
        padding-bottom: 0;
    }

    .blog a{
        position: absolute;
        top: 4%;
        right: 4%;
    }

    .marco{
        float: right;
    }

    /* FOOTER */
    .subscribe{
        width: 100%;
        padding: 0;
    }

    input[type=text]{
        width: 74.5%;
    }

    .contact{
        width: 70%;
    }

    /* footer nav */

    .footer-nav{
        width: 30%;
    }

    .footer-nav ul{
        padding-left: 0;
    }

    .container{
        margin: 0;
    }
}

/* Landscape phone and portrait tablet */
@media (max-width:753px){

    /* HEADER */
    h1{
        font-size: 5rem;
        line-height: 1;
        width: 275px;
        margin: 50px 0;
        position: relative;
        top: 60px;
        left: -10px;
    }

    /* main menu nav bar */

    header img{
        display: none;
    }

    header{
        background-image: url(./assets/header-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right bottom;
        height: 575px;
    }

    header nav{
        width: 100%;
        overflow: hidden;
        left: 0;
    }

    .toggle{
        width: 50px;
        height: 3px;
        margin: 8px 0;
        border-radius: 15px;
        background-color: white;
        box-shadow: 2px 2px 4px #000000;
    }

    label[for="toggle"]{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 20;
        height: 25px;
    }

    .main-nav{
        position: relative;
        top: -20px;
        width: 175px;
        right: -175px;
        padding-top: 100px;
        background-color: rgba(0, 0, 0, 0.85);
        transition: right 0.4s;
        height: 575px;
        z-index: 15;
    }
    .main-nav li{
        display: block;
        margin: 40px 0;
        transition: 0.4s;
    }

    .main-nav li:hover a,
    .main-nav li:focus a{
        color: lightgreen;
    }

    .main-nav li:hover,
    .main-nav li:focus{
        border-bottom: none;
    }

    /* ADD SOCIAL TO MOBILE NAV */

    li.social{
        position: absolute;
        bottom: 0;
        left: 20px;
        padding-top: 15px;
        border-top: 1px solid white;
    }

    .social a{
        padding: 5px 8px;
    }

    .hide a,
    .hide i{
        display: initial;
    }

    .hide i{
        color: white;
        font-size: 1.75rem;
    }

    /* readjust facebook icon */
    .fa-facebook-f{
        left: 0;
    }

    input[type="checkbox"]:checked + .main-nav {
        right: 0;
    }

    aside li{
        display: none;
    }

    /* GALLERY */

    .gallery h2{
        margin: 4rem 0;
    }

    .gallery .middle{
        margin: 0;
        margin-left: 5%;
    }

    .gallery img{
        width: 47%;
    }
    .gallery .wide{
        width: 70%;
        margin-top: 20%;
        float: none;
    }

    /* BLOG */

    .blog{
        padding: 0;
    }
    
    .grid.text{
        float: none;
        width: 100%;
        margin: auto;
        display: block;
    }

    .blog a,
    .about-park a{
        position: initial;
        display: block;
        margin: 8% auto;
        width: 160px;
        font-size: 2rem;
        text-transform: uppercase;

    }

    .about-park a{
        padding: 20px 30px;
        width: 180px;
    }

    .blog h2{
        margin-top: 3%;
    }

    .blog h2{
        padding: 4rem 0;
    }

    .blog .text p{
        padding: 0;
    }

    .about-park{
        padding-bottom: 5px;
    }

    h2{
        text-align: center;
    }

    .marco.text,
    .bobby-bella.text{
        padding: 0;
        margin-bottom: 5%;
    }

    /* hide blog images */

    .blog img {
        display: none;
    }

    /* Fill empty divs with background images */

    .bobby-bella .empty{
        background-image: url(./assets/right-image.jpg);
    }

    .marco .empty{
        background-image: url(./assets/left-image.jpg);
    }

    .empty{
        height: 350px;
        background-size: cover;
        background-position: center;
    }

    .blog p {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }

    /* involvement */

    .involvement .container{
        width: 90%;
    }

    /* FOOTER */

    .copyright p{
        margin: 0;
    }

    footer{
        padding: 10px 0;
    }

}

@media (max-width: 490px){

    footer a{
        font-size: 1.5rem;
    }

    header,
    .main-nav{
        height: 90vh;
    }

    .main-nav li{
        margin: 20px 0;
    }

    h1{
        font-size: 3.5rem;
        width: 200px;
    }

    .gallery .wide{
        width: 100%;
    }
    
    .empty{
        height: 225px;
    }
    /* INVOLVEMENT */

    .involvement a{
        float: none;
    }

    .involvement .container{
        margin-top: 20px;
        padding: 35px 0;
    }

    /* FOOTER */

    .subscribe h4{
        text-align: center;
    }

    input[type=text]{
        width: 100%;
        text-align: center;
    }

    input[type=submit]{
        display: block;
        margin: 10px auto;
        padding: 15px;
        font-size: 2rem;
        width: 150px;
    }

    .contact{
        width: 225px;
    }

    .footer-nav{
        width: calc(100% - 225px);
    }
    .contact p{
        padding:0;
        line-height: 1.25;
    }


    footer a{
        text-transform: uppercase;
        line-height: 2.75rem;
    }

}